<div class="main-container">
  <d-tabs
    type="slider"
    [(activeTab)]="tabActiveId"
    (activeTabChange)="activeTabChange($event)"
  >
    <d-tab
      *ngFor="let item of tabItems"
      [id]="item.id"
      [title]="item.title"
    ></d-tab>
  </d-tabs>
  <div class="communication">
    通信: name={{ name }};count={{ count }}
    <div>
      <d-button bsSize="sm" (btnClick)="setCount(count+1)">+1</d-button>{{' '}}
      <d-button bsSize="sm" (btnClick)="setCount(count-1)">-1</d-button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
